
@{
    ViewBag.Title = "SalesIndex";
}

<h2>Sales Home</h2>
<html>

<body>
    <table>
        <tr>
            <td>Iteam </td>
            @*<td><label>City*  @Html.ValidationMessageFor(m => m.City)</label>
            @Html.TextBoxFor(m => m.City, new { @class = "inputComn", @placeholder = "City" }) </td>*@

        </tr>
        <tr>
            <td>Price </td>
            @*<td><label>City*  @Html.ValidationMessageFor(m => m.City)</label>
            @Html.TextBoxFor(m => m.City, new { @class = "inputComn", @placeholder = "City" }) </td>*@

        </tr>
        <tr>
            <td>customer </td>
            @*<td><label>City*  @Html.ValidationMessageFor(m => m.City)</label>
            @Html.TextBoxFor(m => m.City, new { @class = "inputComn", @placeholder = "City" }) </td>*@

        </tr>

    </table>


</body>
</html>
