@model SaniShop.Models.SalesDetailModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sales Home</h2>
@using (Html.BeginForm("Index", "Sales"))
{

    <html>

    <body>
        <div class="body-right">
         @Html.ActionLink("Sales History", "Index", "Home")
        </div>

        <div>
            <table class="table" style="width:auto">
                <tr>
                    <td>Iteam </td>
                    <td>
                        @Html.DropDownListFor(m => m.Product_id, Model.Productname, "--Select One--")
                    </td>
                </tr>
                <tr>
                    <td>Price </td>
                    <td>
                        @Html.TextBoxFor(m => m.Product_price, new { @class = "inputComn" })
                    </td>
                </tr>

                <tr>
                    <td>Customer Name</td>
                    <td>
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "inputComn" })
                    </td>
                </tr>   
                <tr>
                    <td>Iteam Discrption</td>
                    <td>
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "inputComn" })
                    </td>
                </tr>
                
             
            </table>
<table class="table" style="width:auto">

    <tr>
        <td colspan="2" style="text-align:center">
            <input type="submit" name="save" value="save" />
        </td>
    </tr>


</table>

        </div>
        @*<div >
            <input  type="submit" class="contactBtn signupBtn" value="Submit" />
        </div>*@
    </body>
</html>
}